#registerpage{
    width: 800px;
    height: 820px;
    background-color: #c7c7c7;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 50px;
    border-radius: 20px;
}
#registerform{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    margin-left: -300px;
    top: 150px;
    
}
#registerform input{
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: #d4ebff;
    font-size: 20px;
    border-radius: 16px;
    margin-bottom: 55px;
}
#registerform p{
    font-size: 20px;
}
#registerform button{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 530px;
    left: 50%;
    margin-left: -90px;
    font-size: 20px;
    border-radius: 20px;
    background-color: aquamarine;
} 