#pageinfo p{
    font-size: 23px;
}
#pageinfo input{
    width: 300px;
    height: 30px;
    background-color: #90ff8699;
    border-radius: 10px;
    padding: 10px;
}
#pageinfo button{
    border-style: groove;
    border: 5px red;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background: orange;
}