h3{
    font-family: sans-serif;
    font-size: 25px;
}
input{
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    margin: 10px;
}
button{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    color: black;
}
#text_input{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    background-color: #dfedfa;
    font-style: oblique;
    color: blue;
    font-family: monospace;
}
.sub{
    background-color: #7287ff;
}
#s_filt_by_start_end_inp input{
    width: 25px;
}
#s_filt_by_start_end_add{
    background-color: #54ff00;
}
#s_filt_by_start_end_del{
    background-color: #ff925a;
}
#s_res_text{
    border-style: double;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: #fff7b2;
}